.detailTitle{
    text-align: center;
    margin: 40px;;
}

.detailContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.detailImg{
    border-radius: 5px;
}

.detailText{
    font-size: 1.2rem;
}

.detailColums{
    max-width: 480px;
    height: auto;
    margin: 15px;
}

.anchor:hover{
    color: #FFDC00;
}
