.searchBarContainer{
    display: flex;
    justify-content: center;
}

.searchBarForm{
    position: relative;
}

.searchBarInput{
    border: none;
    border-radius: 10px;
    height: 25px;
    padding: 3px 30px 3px 10px;
}
.searchBarInput:focus{
    outline: none;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.searchBarButton{
    position: absolute;
    color: black;
    top: 0;
    right: 8px;
    height: 100%;
    border: none;
    background: none;
}

