.spinnerContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}

.spinnerElement{
    animation: rotation 1s linear infinite;
}
@keyframes rotation {
    to{
        transform: rotate(360deg);
    }
}
