.card {
  list-style: none;
  text-align: center;
}
.imagen{
    background-color: black;
    height: 300px;
    width: 100%;
}
a{
    text-decoration: none;
    color: #fff;
}

@media (max-width:550px){
    .imagen{
        background-color: black;
        height: auto;
        width: 90%;
    }
}

.card:hover {
    opacity: 0.8;
    color: #FFDC00;
}
